html{
	background-image: url("Web Background Plain.jpg");
	background-size: 150%;
	background-position: -310px -150px;
	background-repeat: no-repeat;
	background-color: black;
}

@media (max-width: 1050px){
	html{
		background-size: 200%;
		background-position: -500px -150px;
	}
}
@media (max-width: 820px){
	html{
		background-size: 250%;
		background-position: -600px -130px;
	}
}

@media (max-width: 645px){
	html{
		background-size: 300%;
		background-position: -600px -125px;
	}
}

@media (max-width: 500px){
	html{
		background-size: 350%;
		background-position: -600px -100px;
	}
}
.logo{
	width:100%;
	margin:0 auto;
	text-align:center;
}

@media (max-width: 1050px){
	.logo{
		padding-top: 75px;
	}
}

@media (max-width: 820px){
	.logo{
		padding-top:100px;
	}
}
@media (max-width: 500px){
	.logo{
		padding-top:0px;
		margin-top:-20px;
	}
}
